/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

/* NAVBAR CSS */

.disable-scroll {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  height: auto;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-bottom: black solid 1px;
  z-index: 200;
  background-color: white;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 200;
  margin-top: 1px;

}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 450;
  color: #475569;
  padding: 20px 20px 0px 20px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease;
}

.nav-link:hover {
  color: black;
  background-size: 100% 2px;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  margin-left: 10px;
  text-shadow: 1px 0px black;
}

/* NAVBAR MOBILE CSS */

@media only screen and (max-width: 768px) {

  .navbar {
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    height: 100%;
    top: 5rem;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* HERO SECTION */

.hero {
  background-color: rgba(241, 241, 241, 0.5);
  background-image: url("../images/home-bg.jpg");
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
}

.header-text {
  font-size: 1.4rem;
  color: gray;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero-info {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 10px;
  flex: 70%;
  height: 30rem;
}

.hero-info h1 {
  color: #202020;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.hero-info h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2rem;
  color: #147efb;
  text-transform: uppercase;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  animation: appear 0.5s ease forwards;
}

.button-cv {
  font-size: 1.25rem;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  background-color: #202020;
  color: #ffffff;
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
}

.button-cv:hover {
  transition: 0.5s;
  background-color: #0077b5;
}

.icon-link {
  margin-left: 1.25rem;
  color: #202020;
}

#github,
#linkedin {
  font-size: 3.25rem;
  color: #202020;
  margin-left: 1.25rem;
}

#linkedin:hover {
  transition: 0.3s;
  color: #0077b5;
}

#github:hover {
  transition: 0.3s;
  color: #0077b5;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

i {
  padding: 5px;
}

.hero-picture {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 30%;
  height: 30rem;
}

.my-picture {
  width: 400px;
  height: 400px;
  margin-bottom: 100px;
  border: 5px solid black;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  background-image: url(../images/josedavid.png);
  animation: morph 7s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-image: url(../images/josedavid.png);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@media (max-width: 1485px) {

  .hero-picture {
    margin-top: 50px;
  }

  .hero-info h1 {
    color: #2d2e32;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .hero-info h3 {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 2rem;
  }

  .hero-container {
    flex-direction: column-reverse;
    height: 70rem;
  }

  .my-picture {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 300px;
    height: 300px;
    background-size: 100%;
  }

  .button-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .button-cv {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
    margin-right: 0;
    margin-top: 10px;
  }

  .icon-link {
    margin-top: 2rem;
    margin-left: 0;
  }

  #github,
  #linkedin {
    color: #202020;
    margin-left: 0;
  }
}

/* PROFILE CSS */
.profile {
  background-color: #fff;
}

.about-content {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70vh;

}

.about-content p {
  margin-bottom: 2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.img-side-img img {
  border-radius: 1rem;
  margin-right: 5rem;
  transition: transform 1.5s;
}

.img-side-img img:hover {
  transform: scale(0.9);
  transition: transform 1.5s;
}

.text-side h3 {
  color: #147efb;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side {
  max-width: 60ch;
  line-height: 1.5rem;
  font-size: 1rem;
  align-items: flex-end;
  color: rgb(105, 105, 105);
  font-size: 1.25rem;
  margin-top: 30px;
}

.skills {
  /* background-color: whitesmoke; */
  padding: 1.25rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  flex-wrap: wrap;
}

.skills img {
  margin: 10px;
}

@media (max-width: 1485px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    height: 60rem;
    margin-left: 20%;
    margin-right: 20%;
  }

  .img-side-img img {
    margin-top: 50px;
    width: 300px;
    height: auto;
    margin-right: 0;
  }

  .skills img {
    width: 17rem;
    height: auto;
  }

  .text-side h3 p {
    max-width: 40ch;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* PROJECTS CSS */

#projects {
  background-color: rgb(252, 250, 250);
  padding-top: 80px;
  padding-bottom: 80px;
}

.projects-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #147efb;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.projects-title h3 {
  font-size: 24px;
  margin-left: 15%;
  margin-right: 15%;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2rem;
  padding-bottom: 5rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}

.card {
  background-color: white;
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 5%;
}

.card img {
  max-width: 100%;
  height: 160px;
  border-radius: 5%;
  margin-top: 10px;
  object-fit: cover;
  transition: transform 0.75s;
}

.card img:hover {
  transform: scale(0.9);
  transition: transform 0.5s;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  text-align: center;
}

.card-description {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  color: rgb(105, 105, 105);
  font-weight: 500;
  text-align: center;
}

.button-project,
.button-github {

  display: inline-block;
  text-align: center;
  padding: 0.8rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgb(53, 92, 124);
  color: white;
  text-decoration: none;
  border-radius: 2rem;
  cursor: pointer;
}

.button-project:hover,
.button-github:hover {
  opacity: 0.9;
}

.button-github {
  background-color: #207272;
}

@media (max-width: 1485px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .projects-title {
    justify-content: center;
    align-items: center;
  }

  .button-project,
  .button-github {
    margin: 0px 3px;
    margin-bottom: 10px;
  }

  .card img {
    height: 120px;
  }

}

/* CONTACT SECTION */

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 20%;
  gap: 100px;
}

.header-email {
  font-size: 1.4rem;
  color: rgb(105, 105, 105);
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-info {
  text-align: left;
  padding: 10px;
  flex: 30%;
  height: 30rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 70%;
  border-radius: 1%;
  margin-top: 25px;
}

form {
  width: 100%;
  height: 30rem;
  padding: 20px;
  background-color: white;
  border-radius: 1%;

}

#form-info {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 45px;
  margin-top: 35px;
  color: rgb(105, 105, 105);
  text-align: center;
}

#myemail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

#letter {
  margin-top: 35px;
  width: 220px;
  height: 220px;
  margin-left: 40px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 5px 0;

}

.button-container button {
  font-size: 1.25rem;
  padding: 1rem;
  background-color: rgb(40, 78, 109);
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  width: 100%;
}

#contact-email {
  color: rgb(7, 18, 177);
}

#contact-email:hover {
  color: #147efb;
  text-decoration: underline;
}

form label {
  font-weight: 300;
  display: block;
  color: black;
  font-size: 1.25rem;
  margin: 5px 0;
}

.contact-info h3 {
  color: #147efb;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

input,
textarea {
  resize: none;
  border: 1px solid #ccc;
  font-weight: 500;
  font: 1.25rem "Poppins", sans-serif;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

#contact-email {
  font-size: 1.5rem;
}

@media (max-width: 1485px) {
  .contact-container {
    flex-direction: column;
    margin: 20px auto;
    gap: 0;
  }

  form {
    /* height: 27.5rem; */
    width: 90%;
  }

  #form-info {
    margin-top: 5px;
  }

  #letter {
    display: none;
  }

  .contact-form {
    width: 100%;
  }

  .button-container button {
    width: 100%;
  }

  input,
  textarea {
    font-size: 1.2rem;
  }
}

footer {
  background-color: #2d2e32;
  padding: 1.25rem;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  font-family: Poppins, sans-serif;
}